{% extends 'base.html.twig' %}

{% block title %} mon compte - La boutique des Îles {% endblock %}

{% block content %}
<h3>  mon comte </h3>
bienvenue <b> {{ app.user.firstname }}  </b> <b>{{ app.user.lastname }}</b> dans votre espace personnel  

{% endblock %}
