{% extends 'base.html.twig' %}

{% block title %} modifier le mot de passe - La boutique des Îles {% endblock %}

{% block content %}
<h3>  modifier mon mot de passe </h3>

<a href="{{ path('compte') }}">  retourner à mon compte</a>
<hr>
{% if notification %}
<div class ="alert alert-info">  {{  notification }}</div>
{%  endif %}
{{ form( form ) }} 

{% endblock %}